html { 
  background-color: #E0E0E0;
  font-family: courier new, sans-serif;
 }

body { 
  max-width: 100em;
  margin:auto;
  padding:20px;
  background-image:url("../img/back.jpg");
}




/*haut de page*/
header{
	color: white;
	text-align: center;
	border-width: 2em;
	padding: 5%;
	border-left-style: solid;
	border-left-color: #E9B05A;
	border-right-style: solid;
	border-right-color:#E9B05A;
	background-image:url("../img/3.jpg");
	background-size: 1000px 400px;
	background-position-x:center;
	background-repeat:no-repeat;
}
header h1{
	font-size:300%;
	color:#E9B05A;
	font-family: serif;
}



/*barre de navigation*/
nav {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;/*3 barres de navigation*/
}
nav section {
	position: relative; 
}
nav section ul {
	max-height: 0;
	overflow: hidden;
	transition: 0;
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;  
}

nav section:hover ul {
	max-height: 50em;
	transition: .5s;/*transition a 0.5s ou 1s à revoir*/
}

nav h3, nav a {
	display: block;
	margin: 0;
	padding: .5em 1.5em;
	font-size: inherit;/*pour que la taille soit la meme*/
	color: black;
	background-color: #E9B05A;
	text-decoration: none;
	box-sizing: border-box;
}

nav section:hover h3 {
	color: white;
	background-color: #E9B05A;
}

nav a:hover {
	color: white;
	background-color: black;
}
section {
	margin: 20px;
}
section h3::before{
	content:url("../img/pouda.jpg");/*petit blason poudlard a gauche des barres de navig*/
	margin-right: 10px;
}

hr{
	width:50%;
	border:3px dotted black;
	height: .5px;
}



/*article*/
main {
	display: grid;
	grid-template-columns:1fr 500px;
	grid-template-rows:1fr;
	background-color: lightblue;
}

main aside, main aside section ,main article section, main article, main article section p{
	margin: 20px;
}

section h2:hover{
	color:red;
	text-decoration: underline;
}

i{
	display: block;
	font-size: 12px;
}
/*aside et figure des sections*/
article section{
	padding-bottom: 22px;
}
article section aside figure img{
	width: 200px;
}
article section aside figure{
	width:350px;
	padding-bottom: 20px;
	padding-left:1px;
	float:right;/*positionement de l'aside article a droite*/
}
section:nth-of-type(2) aside figure{
	float:left; /*2ème section de l'article a gauche*/
}
article section figure:hover > figcaption{
	font-style: italic;
}
article section:hover{
	background-color: #8DD6E3;
}
article section aside:hover figure{
	border:2px dotted red;/*bordure figure red quand on passe sur la figcaption */
} 
article section:nth-of-type(2) aside figure{
	padding-bottom: 4px;
}


/*aside de l'article*/

main aside section figure img{
	width:300px;
}
main aside {
	border-left:5px solid lightblue;
	padding-left: 10px;
}
main aside:hover{
	border-left-color:#E9B05A; /*bordure gauche en orange du sidetext quand on passe sur sidetext */
}

main aside section h2{
	display: none;
}

main aside section{
	padding-bottom: 40px;
}


/*pied de page*/
footer{
	display:grid;
	font-family: Helvetica, sans-serif;
	grid-template-columns:1fr 1fr;
}
footer section ul{
	display:grid;
	grid-template-columns:2fr 2fr 2fr;
	list-style-type:none;
}

footer section p{
	background-image:url("../img/logoW3C.png");
	background-repeat: no-repeat;
	background-position-x:100px;
	padding-top:50px;
}
footer section li:nth-of-type(1){
	background-image:url("../img/wiki.png");
	background-repeat: no-repeat;
	background-position-x:20px;
 	background-size:20%;
 	padding-top: 50px;
 	padding-left:20px;
}
footer section li:nth-of-type(2){
	background-image:url("../img/poudlard.png");
	background-repeat: no-repeat;
	background-position: 50px 0px;
	background-size:20%;
 	padding-top: 50px;

}
footer section li:nth-of-type(3){
	background-image:url("../img/qui.png");
	background-repeat: no-repeat;
	background-position-x:35px;
	background-position-y:0px;
	background-size:30%;
 	padding-top: 50px;
 	padding-left:0px;
}
a{
	text-decoration: none;
}
a:hover{
	color:red;
	border:1px solid black;
	text-decoration: none;
}
footer section :hover >a{
	background-color:yellow;
}

section:nth-of-type(1) aside img{
	width: 40%;
}
section:nth-of-type(2) aside img{
	width: 50%;
}

/* responsive design*/
@media (max-width: 1050px){
	main aside section figure{
		display: none;
	}
	main aside h2{
		display: none;
	}
	article{
		grid-column:span 2;
	}
}